/* CSS Page */

/* Global */
* {
    margin: 0;
    padding: 0;
}

/* ---- Navigation Bar ----*/
.navbar-container {
    height: auto; 
    width: auto; 
    border-bottom: 1px solid;
    border-color: black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-img img {
    width: 10%;
    height: 10%;
    margin-top: 1%;
    margin-left: 13%;
}

.nav-menu {
    display: flex;
    margin-right: 8%;
}


.nav-menu > a {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 20px 6px 20px;
    font-size: 15px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav-home {
    width: 75px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 5px 0px 0px 5px;
}
.nav-home:hover {
    background-color: yellow;
}

.nav-profile {
    width: 75px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.nav-profile:hover {
    background-color: yellow;
}

.nav-facilitation {
    width: 75px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.nav-facilitation:hover {
    background-color: yellow;
}

.nav-message {
    width: 75px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-message:hover {
    background-color: yellow;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff8c;
    backdrop-filter: var(blur);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar a {
    padding-left: 30px;
    color: black;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.sidebar a:hover {
    background-color: rgba(255, 255, 0, 0.617);
}

/*------ Home Container ------*/
.home-container {
    width: auto;
    height: 578px;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.home-container > .background {
    width: inherit;
    height: inherit;
    background-size: cover;
    background-position: center;
    background-image: url(../Assets/image/image_3.png);
    /*background-repeat: no-repeat;*/
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.home-container > .background > div {
    margin-top: 14%;
    margin-left: 12%;
}

.home-container > .background > div > h1 {
    font-size: x-large;
}

.home-container > .background > div >span {
    padding-top: 5px;
    font-size: medium;
}

/*------ Our Profile Container ------*/
.profile_container {
    height: auto;
    width: auto;
    padding-top: 4%;
    border-bottom: 1px solid black;
    background-color: #ffffff9f;
}

.profile_header > h2 {
    margin-left: 10%;
    margin-bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;

}

.profile_about_container {
    display: flex;
    justify-content: start;
    margin-bottom: 120px;
    padding-left: 200px;
}

.img_profile {
    margin-right: 120px;
}
.img_profile > img {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
}

.img_profile span {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: small;
}

.about_profile {
    margin-top: 10px;
}
.about_profile > h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.about_profile > p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px
}

.about_profile > p > span {
    font-style: normal;
    font-weight: bold;
}


/*------ Facilitation Container ------*/
.facilitation-container {
    height: fit-content;
    width: auto;
    padding-top: 4%;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.header-facilitation {
    margin-left: 10%;
}

.content-facilitation {
    justify-content: start;
    display: flex;
    margin-bottom: 5%;
}

.content-1-facilitation {
    margin-left: 15%;
    text-align: center;
}

.content-2-facilitation {
    margin-left: 10%;
    text-align: center;
}

.content-3-facilitation {
    margin-left: 10%;
    text-align: center;
}

.content-4-facilitation {
    margin-left: 10%;
    text-align: center;
}

.content-img-facilitation {
    margin-top: 30%;
}

.content-img-facilitation img {
    /*width: 100px;*/
    height: 150px;
}

.content-text-facilitation {
    margin-top: 5px;
    text-align: center;
}

/*------ Message Us Container ------*/
.message-container {
    height: fit-content;
    width: auto;
    padding-top: 4%;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.header-message {
    margin-left: 10%;
    margin-bottom: 3.5%;
}

.content-message {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
}

#input-submit {
    height: 25px; 
    width: 320px; 
    border: 1px solid black; 
    border-radius: 5px;
    cursor: pointer;
}

#input-submit:hover {
    background-color: yellow;
}

.content-output-message {
    width: 39%;
    height: 230px;
    margin-left: 200px;
    margin-bottom: 35px;
    padding-top: 20px;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.content-output-message > p {
    margin-bottom: 10px;
}

table, tr, td {
    border: 1px solid rgb(255, 255, 255);
}


/*------ Footer Container ------*/
footer {
    background-color: yellow;
}

.footer-container {
    height: auto;
    width: auto;
    text-align: end;
    padding-top: 30px;
    padding-right: 65px;
    padding-bottom: 30px;
}

.footer-container > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
}
.footer-container > h2 > a {
    text-decoration: none;
    color: black;

}

.footer-container a:hover {
    color: rgb(107, 22, 226);
    
}


/* Responsive Website*/
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-container {
        height: fit-content;
        width: 1024px;
    }

    .home-container {
        width: fit-content;
        height: fit-content;
    }

    .home-container > .background {
        width: 1024px;
        height: 400px;
    }

    .profile_container {
        height: fit-content;
        width: 1024px;
    }

    .profile_about_container {
        padding-left: 100px;
        margin-bottom: 50px;
    }

    .profile_about_container > img {
        width: 100px;
        height: 100px;
    }

    .profile_about_container > .img_profile {
        margin-right: 100px;
    }

    .profile_about_container > .about_profile > h3 {
        font-size: medium;
    }

    .profile_about_container > .about_profile > p {
        font-size: small;
        line-height: 20px;
    }

    .facilitation-container {
        height: fit-content;
        width: 1024px;
    }

    .facilitation-container > .content-facilitation {
        display: flex;
    }

    .content-1-facilitation {
        margin-left: 150px;
    }

    .content-2-facilitation {
        margin-left: 5%;
    }
    
    .content-3-facilitation {
        margin-left: 5%;
    }
    
    .content-4-facilitation {
        margin-left: 5%;
    }

     .content-img-facilitation > img {
        width: 150px;
        height: 150px;
    }

    .message-container {
        width: 1024px;
        height: fit-content;
    }

    .name-message > label {
        margin-right: 30px;
    }
    .name-message > input {
        width: 180px;
    }

    .date-message > label {
        margin-right: 13.9px;
    }
    .date-message > input {
        width: 180px;
    }

    .gender-message > label {
        margin-right: 19px;
    }

    .message-message > label {
        margin-right: 12px;
    }
    .message-message > textarea {
        width: 195px;
        height: 100px;
    }

    .content-input-message {
        width: 40%;
    }
    .content-input-message > .submit {
        width: 290px;
    }

    .content-output-message {
        width: 45%;
    }

    .footer-container {
        width: 1024px;
        height: fit-content;
        font-size: medium;
        padding-right: 0px
    }

    .footer-container > h2 {
        margin-right: 65px;
    }
}

@media (min-width: 324px) and (max-width: 767px) and (orientation: landscape) {
    .navbar-container {
        width: 950px;
    }

    .home-container {
        width: fit-content;
        height: fit-content;
    }
    
    .home-container > .background {
        width: 950px;
        height: 400px;
    }
    
    .profile_container {
        height: fit-content;
        width: 950px;
    }
    
    .profile_about_container {
        padding-left: 70px;
        margin-bottom: 50px;
    }
    
    .profile_about_container > img {
        width: 75px;
        height: 75px;
    }
    
    .profile_about_container > .img_profile {
        margin-right: 70px;
    }
    
    .profile_about_container > .about_profile > h3 {
        font-size: small;
    }
    
    .profile_about_container > .about_profile > p {
        font-size: smaller;
        line-height: 20px;
    }

    .facilitation-container {
        height: fit-content;
        width: 950px;
    }

    .facilitation-container > .content-facilitation {
        display: flex;
    }

    .content-1-facilitation {
        margin-left: 130px;
    }

    .content-2-facilitation {
        margin-left: 5%;
    }
    
    .content-3-facilitation {
        margin-left: 5%;
    }
    
    .content-4-facilitation {
        margin-left: 5%;
    }

     .content-img-facilitation > img {
        width: 120px;
        height: 120px;
    }
    .message-container {
        width: 950px;
        height: fit-content;
    }

    .name-message > label {
        margin-right: 30px;
    }
    .name-message > input {
        width: 180px;
    }

    .date-message > label {
        margin-right: 13.9px;
    }
    .date-message > input {
        width: 180px;
    }

    .gender-message > label {
        margin-right: 19px;
    }

    .message-message > label {
        margin-right: 12px;
    }
    .message-message > textarea {
        width: 195px;
        height: 100px;
    }

    .content-input-message {
        width: 40%;
    }
    .content-input-message > .submit {
        width: 290px;
    }

    .content-output-message {
        width: 45%;
    }

    .footer-container {
        width: 950px;
        height: fit-content;
        font-size: medium;
        padding-right: 0px
    }

    .footer-container > h2 {
        margin-right: 60px;
    }

}

