/* CSS Page */

/* Global */
* {
    margin: 0;
    padding: 0;
}

/* ---- Navigation Bar ----*/
.navbar-container {
    height: auto; 
    width: auto; 
    border-bottom: 1px solid;
    border-color: black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-img img {
    width: 18%;
    height: 18%;
    margin-top: 1.5%;
    margin-left: 13%;
}

.nav-menu {
    display: flex;
    margin-right: 8%;
}


.nav-menu > a {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 20px 7px 20px;
    font-size: 15px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav-home {
    width: 75px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 5px 0px 0px 5px;
}
.nav-home:hover {
    background-color: yellow;
}

.nav-profile {
    width: 75px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.nav-profile:hover {
    background-color: yellow;
}

.nav-achievement {
    width: 75px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.nav-achievement:hover {
    background-color: yellow;
}

.nav-message {
    width: 75px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-message:hover {
    background-color: yellow;
}

/*------ Home Container ------*/
.home-container {
    width: auto;
    height: 580px;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.home-container > h1 {
    margin-top: 8%;
    margin-bottom: 10px;
    margin-left: 10%;
    font-size: x-large;
}

.home-container > span {
    margin-left: 10%;
    padding-top: 5px;
    font-size: medium;
}

/*------ Our Profile Container ------*/



/*------ Facilitation Container ------*/
.facilitation-container {
    height: fit-content;
    width: auto;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.header-facilitation {
    margin-top: 4%;
    margin-left: 10%;
}

.content-facilitation {
    justify-content: start;
    display: flex;
    margin-bottom: 5%;
}

.content-1-facilitation {
    margin-left: 15%;
}

.content-2-facilitation {
    margin-left: 10%;
}

.content-3-facilitation {
    margin-left: 10%;
}

.content-4-facilitation {
    margin-left: 10%;
}

.content-img-facilitation {
    margin-top: 30%;
}

.content-img-facilitation img {
    /*width: 100px;*/
    height: 150px;
}

.content-text-facilitation {
    margin-top: 5px;
    text-align: center;
}


/*------ Message Us Container ------*/
.message-container {
    height: fit-content;
    width: auto;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.header-message {
    margin-top: 4%;
    margin-left: 10%;
    margin-bottom: 3.5%;
}

.content-message {
    display: flex;
    padding-left: 10%;
}

.content-input-message {
    width: 50%;
}
.content-input-message > div {
    margin-top: 15px;
}

.name-message > label {
    margin-right: 80px;
}

.name-message > input {
    width: 61.7%;
    height: 25px;
    padding-left: 12px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

.date-message > label {
    margin-right: 64px;
}

.gender-message > label {
    margin-right: 69px;
}

.message-message > label {
    align-items: flex-start;
    margin-right: 63px;
}

.message-message > textarea {
    width: 63.5%;
    height: 150px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: medium;
    resize: none;
}

.message-message {
    display: flex;
    align-items: flex-start;
}


/*------ Footer Container ------*/
.footer-container {
    height: fit-content;
    width: auto;
    text-align: end;
    padding-right: 65px;
}

.footer-container > h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
}
.footer-container > h2 > a {
    text-decoration: none;
    color: black;

}

.footer-container a:hover {
    color: yellow;
    
}